$base-size: 10px;
$border-size: $base-size / 4;

$window-title-height: $base-size * 3;
$window-max-width: $base-size * 120;

$bg-color-main: #666666;
$bg-color-title: #e8cbb1;
$bg-color-window: #b8b8b8;

$warning-color: #ecafad;
$border-color: #333a44;

.App {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  font-size: $base-size;
  text-align: center;
  overflow: auto;
  background-color: $bg-color-main;
}

.Window {
  background-color: $bg-color-window;
  border: $border-size solid $border-color;
  box-shadow: .5em .5em $border-color;
  display: block;
  overflow: hidden;
  transition: all .25s;
  margin: 1em;

  &--default {
    height: 80vh;
    width: $window-max-width;
    max-width: $window-max-width;
    margin-bottom: $window-title-height;
  }

  &--minimized {
    height: $window-title-height;
    width: $window-max-width;
    max-width: $window-max-width;
    margin-top: calc(-100vh + 10em);
  }
  
  &--maximized {
    width: 99vw;
    max-width: 99vw;
    height: 98vh;
  }

  &--closed {
    display: none;
  }
  
  &__title {
    display: flex;
    height: $window-title-height;
    flex-direction: row-reverse;
    align-items: flex-start;
    border-bottom: $border-size solid $border-color;
    background-color: $bg-color-title;
  }
  
  &__header {
    border-bottom: $border-size solid $border-color;
    height: $window-title-height * 2.7;
  }
  
  &__controls {
    display: flex;
    height: $window-title-height;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $window-title-height + $border-size;
    height: $window-title-height;
    padding: 0;
    background: none;
    border: none;
    border-left: $border-size solid $border-color;
    cursor: pointer;

    .icon {
      height: 1.4rem;
      width: 1.4em;
    }    
  }
  
  &__button--minimize {
    .icon {
      width: 1em;
      height: .5em;
      border-top: $border-size solid $border-color;
    }

    &:hover {
      .icon {
        width: .6em;
      }
    }
  }

  &__button--maximize {
    .icon {
      width: .8em;
      height: .8em;
      border: $border-size solid $border-color;
    }

    &:hover {
      .icon {
        width: 1em;
        height: 1em;
      }
    }
  }
  
  &__button--close {
    .icon {
      position: relative;
    
      &::after {
        color: $border-color;
        display: block;
        content: '⛌';
        font-size: 1.6em;
        line-height: .8em;
      }
    }
      
    &:hover {
      background-color: $warning-color;
    }
  }
}